.additional-goods {
  outline: 2px solid @outline-1;
  outline-offset: -2px;
}

.additional-goods__list {
  list-style: none;
}

.additional-goods__promo {
  min-height: 289px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20/16;
  color: @basic_white;
  background-image: url("../../img/gift-photo-mobile\ 1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: @basic_green;
}
