.checkbox-control {
  // .outline(fuchsia);
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    // width: 35%;
    // margin-right: 90px;
    flex-grow: 1;
    flex-basis: 40%;
    margin-bottom: 42px;
    // margin-right: 60px;
  }

  @media (min-width: @desktop-width) {
    flex-grow: 0;
    flex-basis: auto;
    width: 221px;
    margin-right: 0;
  }
}

.checkbox-control:nth-child(2n) {
  @media (min-width: @tablet-width) {
    margin-right: -60px;
  }
}

.checkbox-control:not(:last-child) {
  @media (min-width: @desktop-width) {
    margin-right: 104px;
  }
}

.checkbox-control__label {
  position: relative;
  padding-left: 46px;

  @media (min-width: @tablet-width) {
    padding-left: 60px;
  }
}

.checkbox-control__input + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 30px;
  height: 30px;
  background-image: url("../../img/checkbox.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.checkbox-control__input:hover + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 30px;
  height: 30px;
  background-image: url("../../img/checkbox-hover.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.checkbox-control__input:checked + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 30px;
  height: 30px;
  background-image: url("../../img/checkbox-checked.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.checkbox-control__input:checked:hover + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 30px;
  height: 30px;
  background-image: url("../../img/checkbox-checked-hover.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.checkbox-control__input:disabled + label,
.checkbox-control__input:checked:disabled + label {
  opacity: 0.3;
}

.checkbox-control__input:disabled + label::before {
  cursor: default;
}
