.contacts {
  background-color: @basic_white;
  outline: 2px solid @outline-2;
  outline-offset: -2px;
}

.contacts__slogan {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18/16;
  color: @special_black;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 21/20;
  }
}

.contacts__address {
  font-size: 14px;
  line-height: 20/14;
  color: @special_dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20/16;
  }
}
