.container {
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    margin: 0 29px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .container {
    max-width: 1220px;
  }
}
