.contact-control {
  // .outline(fuchsia);
  display: flex;
  margin-bottom: 13px;

  @media (min-width: @desktop-width) {
    width: 570px;
  }
}

.contact-control__label {
  margin-right: 12px;
  padding-top: 10px;
  color: @special_dark-grey;
}

.contact-control__input {
  padding-left: 13px;
  padding-right: 35px;
  border: 1px solid @special_grey-2;
}
