.contacts {
  outline: 2px solid @outline-2;
  outline-offset: -2px;
}

.contacts__slogan {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18/16;
  color: @special_black;
  text-transform: uppercase;
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20/14;
  color: @special_dark-grey;
}
