.form {
  @media (min-width: @tablet-width) {
    padding-bottom: 70px;
  }
}

.form__fieldset {
  // .outline(tomato);
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 18/16;
  text-transform: uppercase;
  border: none;

  @media (min-width: @tablet-width) {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
    line-height: 30/20;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 67px;
    padding-left: 0;
    padding-right: 0;
  }
}

.form__fieldset--text {
  @media (min-width: @desktop-width) {
    display: inline-block;
    width: 570px;
    margin-right: 80px;
  }
}

.form__fieldset--radio {
  @media (min-width: @desktop-width) {
    display: inline-block;
    max-width: 525px;
    padding: 0;
  }
}

.form__fieldset-checkbox {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.form__contact-wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.text-control {
  padding-bottom: 13px;
  display: flex;
  align-items: center;
}

.text-control__label {
  margin-right: 14px;
}

.radio-control {
  padding-bottom: 25px;
}

.checkbox-control {
  // .outline(fuchsia);
  padding-bottom: 25px;

  @media (min-width: @tablet-width) {
    width: 35%;
    margin-right: 90px;
  }

  @media (min-width: @desktop-width) {
    width: 221px;
    margin-right: 0;
  }
}

.checkbox-control:not(:last-child) {
  @media (min-width: @desktop-width) {
    margin-right: 104px;
  }
}

.form__legend {
  padding-top: 27px;
  padding-bottom: 14px;
  font-size: 24px;
  line-height: 26/24;
  text-transform: none;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 1;
  }
}

.form__input {
  padding: 0;
  width: 100%;
  height: 46px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18/16;
  color: @special_dark-grey;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1;
  }
}

.form__textarea {
  padding: 0;
  width: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18/16;
  color: @special_dark-grey;
  text-transform: uppercase;
  border: 1px solid @special_border-grey-2;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30/20;
  }
}

.form__footnote {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16/14;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: inline-block;
  }
}
