.form {
  outline: 2px solid @outline-1;
  outline-offset: -2px;
}

.form__fieldset {
  font-size: 16px;
  line-height: 18/16;
  text-transform: uppercase;
}

.form__legend {
  font-size: 24px;
  line-height: 26/24;
  text-transform: none;
}

.form__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18/16;
  color: @special_dark-grey;
  text-transform: uppercase;
}

.form__textarea--style {
  border: 1px solid @special_border-grey-2;
}

.form__footnote {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16/14;
}
