.page-footer {
  background-color: @basic_grey;
}

.page-footer__top {
  @media (min-width: @desktop-width) {
    position: relative;
    width: 1440px;
    margin: 0 auto;
  }
}

.page-footer__contacts {
  display: flex;
  justify-content: space-between;

  @media (min-width: @desktop-width) {
    width: 570px;
    position: absolute;
    top: 95px;
    left: 110px;
  }
}

.page-footer__map {
  height: 362px;

  @media (min-width: @tablet-width) {
    height: 400px;
  }
}

.page-footer__logo {
  display: block;
  padding-bottom: 27px;
  border-bottom: 1px solid @special_border-grey;

  @media (min-width: @tablet-width) {
    margin-right: 30px;
    padding-top: 20px;
    border: none;
  }
}
