.page-header {
  outline: 2px solid @outline-1;
  outline-offset: -2px;
}

.page-nav__list {
  list-style: none;
}

.page-nav__link {
  color: @basic_black;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}
