.page-footer {
  background-color: @basic_grey;
  outline: 2px solid @outline-1;
  outline-offset: -2px;
}

.page-footer__contacts--home {
  background-color: @basic_white;
}

.page-footer__bottom {
  outline: 2px solid @outline-1;
  outline-offset: -2px;
}

.page-footer__logo {
  border-bottom: 1px solid @special_border-grey;
}
