.page-header {
  outline: 2px solid @outline-1;
  outline-offset: -2px;
}

@media (min-width: @tablet-width) {
  .page-header {
    display: flex;
    justify-content: space-between;
  }
}


@media (min-width: @desktop-width) {
  .page-header {
    min-height: 696px;
    margin-bottom: -610px;
  }
}

@media (min-width: @tablet-width) {
  .page-header__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header__toggle {
    display: none;
  }
}

.page-header__logo-wrapper {
  .outline(fuchsia);
}

@media (min-width: @desktop-width) {
  .page-header__logo-wrapper {
    width: 50%;
  }
}
