.programm-variants {
  outline: 2px solid @outline-1;
  outline-offset: -2px;
}

.programm-variants__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: @desktop-width) {
  .programm-variants__list {
    display: flex;
  }
}

.programm-variants__item {
  background-color: @basic_grey;
}

@media (min-width: @desktop-width) {
  .programm-variants__item:not(:last-child) {
    margin-right: 80px;
  }
}

.programm-variants__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37/24;
  text-transform: uppercase;
}

.programm-variants__description {
  color: @special_dark-grey;
  border-bottom: 1px solid @special_border-grey;
}

@media (min-width: @tablet-width) {
  .programm-variants__description{
    border: none;
  }
}

.programm-variants__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: @basic_black;
}
