.programm-variants__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.programm-variants__item {
  margin-bottom: 20px;
  padding: 0;
  padding-top: 29px;
  background-color: @basic_grey;

  @media (min-width: @tablet-width) {
    padding-top: 74px;
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    padding-top: 78px;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
  }
}

.programm-variants__title {
  margin: 0;
  margin-bottom: 29px;
  padding-left: 90px;
  padding-right: 30px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37/24;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin-bottom: 26px;
    padding-left: 53px;
    font-size: 36px;
    line-height: 1;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    padding-left: 165px;
    margin-bottom: 75px;
  }
}

.programm-variants__description {
  margin-bottom: 23px;
  padding: 0 20px;
  font-family: "Arial", sans-serif;
  color: @special_dark-grey;
  border-bottom: 1px solid @special_border-grey;

  @media (min-width: @tablet-width) {
    padding-left: 52px;
    padding-right: 275px;
    font-size: 16px;
    line-height: 24/16;
    border: none;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
}

.programm-variants__description br {
  display: none;

  @media (min-width: @tablet-width) {
    display: initial;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.programm-variants__link {
  display: inline-flex;
  padding-top: 19px;
  padding-left: 19px;
  padding-bottom: 21px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: @basic_black;

  @media (min-width: @tablet-width) {
    padding-top: 34px;
    padding-left: 52px;
    padding-bottom: 62px;
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 32px;
    padding-left: 2px;
  }
}

.programm-variants__link:active {
  opacity: 30%;
}

.programm-variants__link::after {
  content: "";
  width: 32px;
  height: 12px;
  margin-left: 16px;
  background-image: url("../img/arow.svg");
  background-repeat: no-repeat;
  background-position: left;

  @media (min-width: @tablet-width) {
    margin-left: 25px;
  }

  @media (min-width: @desktop-width) {
    top: 36px;
    left: 135px;
  }
}

.programm-variants__link:hover::after {
  content: "";
  width: 32px;
  height: 12px;
  background-image: url("../img/arow-hover.svg");
  background-repeat: no-repeat;
  background-position: left;

  // @media (min-width: @tablet-width) {
  //   top: 38px;
  //   left: 183px;
  // }

  @media (min-width: @desktop-width) {
    top: 36px;
    left: 135px;
  }
}
