.promo-descriptions {
  padding-top: 8px;
  padding-bottom: 18px;

  @media (min-width: @tablet-width) {
    margin-bottom: -32px;
    padding-top: 14px;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    padding-top: 42px;
  }
}

.promo-descriptions__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40/36;

  @media (min-width: @tablet-width) {
    margin-bottom: 74px;
    font-size: 60px;
    line-height: 1;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 70px;
  }
}

.promo-descriptions__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
  }
}

.promo-descriptions__item {
  margin-bottom: 20px;
  // .outline(tomato);
  @media (min-width: @tablet-width) {
    flex-grow: 1;
    flex-basis: 40%;
    min-width: 227px;
    margin-bottom: 85px;
    padding-top: 112px;
    padding-bottom: 48px;
    padding-right: 78px;
  }

  @media (min-width: @desktop-width) {
    min-width: 227px;
    flex-grow: 0;
    flex-basis: auto;
    width: 246px;
    margin: 0;
    padding-top: 114px;
    padding-right: 0;
  }
}

.promo-descriptions__item:nth-child(2n) {
  @media (min-width: @tablet-width) {
    margin-left: 60px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.promo-descriptions__item--useful {
  @media (min-width: @tablet-width) {
    background-image: url("../img/bg-1.png");
    background-repeat: no-repeat;
    background-position: 125px 0;
  }
}

.promo-descriptions__item--simply {
  @media (min-width: @tablet-width) {
    background-image: url("../img/bg-2.png");
    background-repeat: no-repeat;
    background-position: 122px 0;
  }
}

.promo-descriptions__item--easy {
  @media (min-width: @tablet-width) {
    background-image: url("../img/bg-3.png");
    background-repeat: no-repeat;
    background-position: 122px 0;
  }

  @media (min-width: @desktop-width) {
    background-position: 127px 0;
  }
}

.promo-descriptions__item--fast {
  @media (min-width: @tablet-width) {
    background-image: url("../img/bg-4.png");
    background-repeat: no-repeat;
    background-position: 122px 0;
  }

  @media (min-width: @desktop-width) {
    background-position: 130px 0;
  }
}

.promo-descriptions__text {
  position: relative;
  min-height: 60px;
  margin: 0;
  padding-left: 80px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: @special_dark-grey;

  @media (min-width: @tablet-width) {
    padding: 0;
    font-size: 16px;
    line-height: 24/16;
  }
}

.promo-descriptions__text--useful::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url("../../img/useful-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: -5px;
  left: 0;

  @media (min-width: @tablet-width) {
    width: 80px;
    height: 80px;
    top: -116px;
    left: 0;
    background-size: contain;
  }
}

.promo-descriptions__text--simply::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url("../../img/simply-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: -5px;
  left: 0;

  @media (min-width: @tablet-width) {
    width: 80px;
    height: 80px;
    top: -116px;
    left: 0;
    background-size: contain;
  }
}

.promo-descriptions__text--easy::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url("../../img/easy-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: -5px;
  left: 0;

  @media (min-width: @tablet-width) {
    width: 80px;
    height: 80px;
    top: -116px;
    left: 0;
    background-size: contain;
  }
}

.promo-descriptions__text--fast::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url("../../img/fast-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: -5px;
  left: 0;

  @media (min-width: @tablet-width) {
    width: 80px;
    height: 80px;
    top: -116px;
    left: 0;
    background-size: contain;
  }
}
