.promo-descriptions {
  outline: 2px solid @outline-1;
  outline-offset: -2px;
}

.promo-descriptions__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.promo-descriptions__list {
  list-style: none;
}

.promo-descriptions__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @special_dark-grey;
}
