.promo {
  outline: 2px solid @outline-1;
  outline-offset: -2px;
}

.promo__intro {
  min-height: 300px;
  background-image: url("../../img/bg-mask.png"), url("../../img/index-background-desktop\ 2.jpg");
  background-repeat: no-repeat, no-repeat;
  background-color: @basic_green;
}

.promo__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: @basic_white;
}

.promo__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: @basic_white;
}
