.promo {
  // .outline(fuchsia);
  padding-bottom: 22px;
  text-align: center;
  color: @basic_white;
  background-image: url("../../img/index-bg-mobile.jpg"), linear-gradient(@special_bg-green, @special_bg-green);
  background-size: auto 302px;
  background-repeat: no-repeat;
  background-position: top;

  @media (min-width: @tablet-width) {
    position: relative;
    min-height: 850px;
    margin-bottom: 24px;
    padding: 0;
    text-align: left;
    color: inherit;
    background-image: none;
    border: none;
  }

  @media (min-width: @desktop-width) {
    // width: 1440px;
    // margin: 0 auto;
    background-image: url("../../img/index-bg-desktop.jpg");
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-position: top right;
    z-index: 0;
  }
}

.promo__title {
  margin: 0;
  padding-top: 25px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;

  @media (min-width: @tablet-width) {
    padding-top: 62px;
    padding-left: 87px;
    padding-right: 45px;
    padding-bottom: 41px;
    font-size: 60px;
    line-height: 1;
  }

  @media (min-width: @desktop-width) {
    padding-top: 223px;
    padding-left: 80px;
    padding-right: 690px;
  }
}

.promo__text {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 29px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding-left: 88px;
    padding-top: 0;
    padding-bottom: 50px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
  }
}

.promo__image {
  @media (min-width: @tablet-width) {
    width: 709px;
    height: 609px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  @media (min-width: @desktop-width) {
    width: 552px;
    height: 449px;
    position: absolute;
    top: 143px;
    right: 330px;
    bottom: auto;
    left: auto;
    transform: translateX(0);
  }
}

.promo__button {
  max-width: 280px;
  margin: 0 auto;
  padding: 12px;

  @media (min-width: @tablet-width) {
    width: max-content;
    margin-left: 83px;
    padding-left: 25px;
    padding-top: 18px;
    padding-bottom: 16px;
    padding-right: 27px;
    font-size: 20px;
    line-height: 1;
  }
}
