.promo-descriptions__title {
  margin: 0;
  padding-top: 9px;
  padding-bottom: 30px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40/36;

  @media (min-width: @tablet-width) {
    padding-top: 15px;
    padding-bottom: 70px;
    font-size: 60px;
    line-height: 1;
  }
}

.promo-descriptions__list {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
  }
}

.promo-descriptions__item {
  // .outline(tomato);
  @media (min-width: @tablet-width) {
    flex-grow: 1;
    flex-basis: 40%;
    margin-bottom: 85px;
    padding-top: 112px;
    padding-bottom: 48px;
    padding-right: 78px;
  }

  @media (min-width: @desktop-width) {
    flex-grow: 0;
    flex-basis: auto;
    width: 250px;
  }
}

.promo-descriptions__item:nth-child(2n) {
  @media (min-width: @tablet-width) {
    margin-left: 60px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.promo-descriptions__text {
  margin: 0;
  padding-top: 10px;
  padding-left: 80px;
  padding-bottom: 17px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: @special_dark-grey;

  @media (min-width: @tablet-width) {
    padding: 0;
    font-size: 16px;
    line-height: 24/16;
  }
}
