.slider {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    // background-color: @special_bg-grey;
    background-image: linear-gradient(@basic_white 0%, @basic_white 31%, @special_bg-grey 31%, @special_bg-grey 100%);
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: @basic_grey;
  }
}

.slider__image {
  margin: 0 auto;
  display: none;

  @media (min-width: @tablet-width) {
    width: 600px;
    height: 540px;
    margin-top: 20px;
  }
}

.slider__image--show {
  display: block;
}

.slider__controls {
  // .outline(fuchsia);
  display: flex;
  justify-content: space-around;
  padding-left: 33px;
  padding-right: 33px;
  padding-top: 34px;
  padding-bottom: 35px;

  @media (min-width: @tablet-width) {
    padding-left: 58px;
    padding-right: 58px;
    padding-bottom: 75px;
  }
}

.slider__control-name {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20/16;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1;
  }
}

.slider__control-bar {
  width: 84px;
  height: 14px;
  border: 1px solid @special_grey-2;
  border-radius: 6px;
  background-color: @basic_white;
  align-self: center;

  @media (min-width: @tablet-width) {
    width: 428px;
    height: 6px;
    border: none;
    background-color: @special_grey-2;
  }
}

.slider__control-toggle {
  width: 35px;
  height: 6px;
  margin-top: 3px;
  margin-left: 7px;
  border-radius: 6px;
  background-color: @basic_green;

  @media (min-width: @tablet-width) {
    width: 32px;
    height: 32px;
    margin-top: -12px;
    margin-left: 200px;
    border: 12px solid @basic_white;
    border-radius: 15px;
    box-shadow: 0 0 0 1px @special_grey-2, 0 1px 3px 1px @special_grey-2;
  }
}

.slider__control-toggle:hover {
  @media (min-width: @tablet-width) {
    box-shadow: 0 0 0 1px @special_grey-2, 0 2px 4px 1px @special_grey-2;
  }
}

.slider__control-toggle:active {
  @media (min-width: @tablet-width) {
    box-shadow: 0 0 0 1px @basic_green, 0 2px 4px 1px @special_grey-2;
  }
}
