.socials {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid @special_border-grey;
  outline: 2px solid @outline-1;
  outline-offset: -2px;
}

@media (min-width: @tablet-width) {
  .socials {
    border: none;
  }
}

.socials__item {
  margin-right: 5px;
}
