.special-item {
  // .outline(tomato);
  position: relative;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: block;
    flex: 1 0 40%;
    margin-bottom: 60px;
    margin-left: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 40px;
  }
}

.special-item::after {
  content: "";
  position: absolute;
  left: -500px;
  bottom: 0;
  width: 1000%;
  height: 1px;
  background-color: @special_border-grey;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.special-item__title {
  margin: 0;
  margin-bottom: 8px;
  padding-top: 80px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20/16;
  color: @special_black;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding-top: 234px;
    padding-bottom: 23px;
    font-size: 20px;
    line-height: 22/20;
  }

  @media (min-width: @desktop-width) {
    line-height: 22/20;
  }
}

.special-item__text {
  margin: 0;
  margin-bottom: 32px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16/12;
  color: @special_dark-grey;

  @media (min-width: @tablet-width) {
    padding-bottom: 87px;
    padding-left: 79px;
    padding-right: 78px;
    font-size: 16px;
    line-height: 18/16;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.special-item__button {
  margin: 0 auto;
  color: @special_dark-grey;
  background-color: @basic_grey;
}
