.special-item {
  text-align: center;
}

.special-item__title {
  margin: 0;
  padding-top: 80px;
  padding-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20/16;
  color: @special_black;
  text-transform: uppercase;
}

.special-item__text {
  margin: 0;
  padding-bottom: 20px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16/12;
  color: @special_dark-grey;
}

.special-item__button {
  width: 280px;
  margin: 0 auto;
  color: @special_dark-grey;
  background-color: @basic_grey;
}
