.text-control {
  padding-bottom: 13px;
  display: flex;
  align-items: center;
}

.text-control__label {
  margin-right: 14px;
  color: @special_dark-grey;
}

.text-control__input {
  padding-left: 14px;
  border: 1px solid @special_border-grey-2;
}
